services:
    spbar.blog_post_new_form_type:
        class: SpBar\Bundle\BlogBundle\Form\Type\Post\NewFormType
        tags:
            - { name: form.type, alias: spbar_blog_post_new }
        arguments: ["@spbar.blog_theme_manager", "@security.authorization_checker", "@security.token_storage"]

    spbar.blog_post_edit_form_type:
        class: SpBar\Bundle\BlogBundle\Form\Type\Post\EditFormType
        tags:
            - { name: form.type, alias: spbar_blog_post_edit }
        arguments: ["@spbar.blog_theme_manager", "@security.authorization_checker", "@security.token_storage"]

    spbar.blog_post_manager:
        class: SpBar\Bundle\BlogBundle\Model\PostManager
        arguments: ["@doctrine.orm.entity_manager"]