services:
    #twig extension service for blog
    spbar.blog.twig_extension:
        class: SpBar\Bundle\BlogBundle\Twig\BlogExtension
        public: true
        arguments: ['@spbar.blog_theme_manager']
        tags:
            - { name: twig.extension }