<div class="container">
<div id="content">
	<div class="row">
		<div class="col-sm-4">
			<div class="beta-blog beta-blog-a beta-blog-3cols">
				<div class="beta-blog-header">
					<div class="media">
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="#">Education</a>, <a href="#">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_2.jpg" alt=""></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim. Sed ut persis unde oste natus error sit voptatem.</p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-4">
			<div class="beta-blog beta-blog-a beta-blog-3cols">
				<div class="beta-blog-header">
					<div class="media">
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="#">Education</a>, <a href="#">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_3.jpg" alt=""></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim. Sed ut persis unde oste natus error sit voptatem.</p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-4">
			<div class="beta-blog beta-blog-a beta-blog-3cols">
				<div class="beta-blog-header">
					<div class="media">
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="#">Education</a>, <a href="#">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_4.jpg" alt=""></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim. Sed ut persis unde oste natus error sit voptatem.</p>
					<a href="#" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
	</div>
	<hr class="mb50">
	<div class="row">
		<div class="col-sm-4">
			<div class="beta-blog beta-blog-a beta-blog-3cols">
				<div class="beta-blog-header">
					<div class="media">
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="#">Education</a>, <a href="#">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_7.jpg" alt=""></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim. Sed ut persis unde oste natus error sit voptatem.</p>
					<a href="#" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-4">
			<div class="beta-blog beta-blog-a beta-blog-3cols">
				<div class="beta-blog-header">
					<div class="media">
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="#">Education</a>, <a href="#">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_8.jpg" alt=""></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim. Sed ut persis unde oste natus error sit voptatem.</p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-4">
			<div class="beta-blog beta-blog-a beta-blog-3cols">
				<div class="beta-blog-header">
					<div class="media">
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="#">Education</a>, <a href="#">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_9.jpg" alt=""></a>
					</div>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim. Sed ut persis unde oste natus error sit voptatem.</p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
	</div>
	<hr class="mb50">

	<div class="beta-pagination text-center">
		<a href="#"><i class="fa fa-chevron-left"></i></a>
		<a href="#" class="is-active">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">...</a>
		<a href="#"><i class="fa fa-chevron-right"></i></a>
	</div>
</div> <!-- #content -->
</div> <!-- .container -->
