<div class="container">
<div id="content">
	<div class="row">
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_9.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_8.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_7.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_6.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
	</div>
	<hr class="mb50">

	<div class="row">
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_10.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_11.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_12.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
		<div class="col-sm-3">
			<div class="beta-blog beta-blog-a beta-blog-4cols">
				<div class="beta-blog-content">
					<div class="beta-blog-content-preview">
						<div class="pull-left beta-blog-content-details">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<a href="single_type_image.html"><img src="assets/dest/images/blog/img_13.jpg" alt=""></a>
					</div>
					<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>

					<p>Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in reprehenderit in voluptate velit esse cum dolore eu fugiat nulla pariatur. </p>
					<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->
		</div>
	</div>
	<hr class="mb50">

	<div class="beta-pagination text-center">
		<a href="#"><i class="fa fa-chevron-left"></i></a>
		<a href="#" class="is-active">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">...</a>
		<a href="#"><i class="fa fa-chevron-right"></i></a>
	</div>
</div> <!-- #content -->
</div> <!-- .container -->
