<div class="container">
<div id="content">
	<div class="row">
		<div class="col-sm-3 aside-main">
			<div class="widget-main">
				<div class="widget-main-body">
					<form role="search" method="get" id="searchform" action="http://webredox.com/">
				        <input type="text" value="" name="s" id="s" placeholder="Search entire store here..." />
				        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
					</form>
				</div>
			</div>

			<div class="widget-main">
				<h5 class="widget-main-title">Categories</h5>
				<div class="widget-main-body">
					<ul>
						<li><a href="blog_fullwidth_3col.html">Web Design</a></li>
						<li><a href="blog_fullwidth_3col.html">Web development</a></li>
						<li><a href="blog_fullwidth_3col.html">Marketing</a></li>
						<li><a href="blog_fullwidth_3col.html">Tips</a></li>
						<li><a href="blog_fullwidth_3col.html">Resources</a></li>
						<li><a href="blog_fullwidth_3col.html">Illustrations</a></li>
					</ul>
				</div>
			</div>

			<div class="widget-main">
				<h5 class="widget-main-title">Tags</h5>
				<div class="widget-main-body">
					<div class="beta-tags">
						<a href="blog_fullwidth_2col.html">Amazing</a>
						<a href="blog_fullwidth_2col.html">Design</a>
						<a href="blog_fullwidth_2col.html">Themes</a>
						<a href="blog_fullwidth_2col.html">Clean</a>
						<a href="blog_fullwidth_2col.html">Responsiveness</a>
						<a href="blog_fullwidth_2col.html">Creative</a>
						<a href="blog_fullwidth_2col.html">Brands</a>
						<a href="blog_fullwidth_2col.html">Seo</a>
						<a href="blog_fullwidth_2col.html">Life</a>
						<a href="blog_fullwidth_2col.html">Minimal</a>
					</div>
				</div>
			</div>

			<div class="widget-main">
				<h5 class="widget-main-title">Archives</h5>
				<div class="widget-main-body">
					<ul>
						<li><a href="blog_fullwidth_4col.html">May</a></li>
						<li><a href="blog_fullwidth_4col.html">February</a></li>
						<li><a href="blog_fullwidth_4col.html">January</a></li>
						<li><a href="blog_fullwidth_4col.html">December</a></li>
						<li><a href="blog_fullwidth_4col.html">October</a></li>
					</ul>
				</div>
			</div>

			<div class="widget-main">
				<h5 class="widget-main-title">Recent Posts</h5>
				<div class="widget-main-body">
					<div class="media recent-post">
						<div class="pull-left"><a href="single_type_image.html"><img src="assets/dest/images/blog/recent_aside_1.jpg" alt=""></a></div>
						<div class="media-body">
							<h5 class="recent-post-title"><a href="single_type_image.html">At vero eos</a></h5>
							<p><a href="blog_fullwidth_2col.html">Design</a>, <a href="blog_fullwidth_2col.html">Illustration</a></p>
							<a href="single_type_image.html" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
						</div>
					</div>
					<div class="media recent-post">
						<div class="pull-left"><a href="single_type_image.html"><img src="assets/dest/images/blog/recent_aside_2.jpg" alt=""></a></div>
						<div class="media-body">
							<h5 class="recent-post-title"><a href="single_type_image.html">Itaque earum</a></h5>
							<p><a href="blog_fullwidth_2col.html">Design</a>, <a href="blog_fullwidth_2col.html">Illustration</a></p>
							<a href="single_type_image.html" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
						</div>
					</div>
					<div class="media recent-post">
						<div class="pull-left"><a href="single_type_image.html"><img src="assets/dest/images/blog/recent_aside_3.jpg" alt=""></a></div>
						<div class="media-body">
							<h5 class="recent-post-title"><a href="single_type_image.html">Ut enim ad</a></h5>
							<p><a href="blog_fullwidth_2col.html">Design</a>, <a href="blog_fullwidth_2col.html">Illustration</a></p>
							<a href="single_type_image.html" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
						</div>
					</div>
				</div>
			</div>

			<div class="widget-main">
				<h5 class="widget-main-title">Twitter Feed</h5>
				<div class="widget-main-body">
					<div class="twitter-feed beta-lists">
						<div class="tweet">
							<i class="fa fa-twitter"></i>
							<div class="tweet-body">
								<h5 class="tweet-title">Excepteur sint occaecat cupidatat non proident sunt</h5>
								<small class="tweet-time">25 Minutes ago</small>
							</div>
						</div>
						<div class="tweet">
							<i class="fa fa-twitter"></i>
							<div class="tweet-body">
								<h5 class="tweet-title">Excepteur sint occaecat cupidatat non proident sunt</h5>
								<small class="tweet-time">25 Minutes ago</small>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="widget-main">
				<h5 class="widget-main-title">Calendar</h5>
				<div class="widget-main-body">
					<div class="beta-calendar"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="beta-blog beta-blog-a">
				<div class="beta-blog-header">
					<div class="media">
						<div class="pull-left">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_image.html">Single Image Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
						</div>
					</div>
				</div>

				<div class="row beta-blog-content">
					<div class="col-sm-6"><a href="single_type_image.html"><img src="assets/dest/images/blog/img_1.jpg" alt=""></a></div>
					<div class="col-sm-6">
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<p>Sed ut voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
						<a href="single_type_image.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div> <!-- .beta-blog item -->

			<div class="beta-blog beta-blog-a">
				<div class="beta-blog-header">
					<div class="media">
						<div class="pull-left">
							<span class="beta-blog-type pull-left"><i class="fa fa-picture-o"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_slideshow.html">Image Slideshow Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
						</div>
					</div>
				</div>

				<div class="row beta-blog-content">
					<div class="col-sm-6">
						<div class="beta-slider">
							<div class="beta-pager">
							  <a data-slide-index="0" href="#"><span class="beta-pager-item"></span></a>
							  <a data-slide-index="1" href="#"><span class="beta-pager-item"></span></a>
							  <a data-slide-index="2" href="#"><span class="beta-pager-item"></span></a>
							</div>
							
							<div class="beta-slider-items">
								<img src="assets/dest/images/blog/img_2.jpg" alt="">
								<img src="assets/dest/images/blog/img_3.jpg" alt="">
								<img src="assets/dest/images/blog/img_4.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<p>Sed ut voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
						<a href="single_type_slideshow.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div> <!-- .beta-blog item -->

			<div class="beta-blog beta-blog-a">
				<div class="beta-blog-header">
					<div class="media">
						<div class="pull-left">
							<span class="beta-blog-type pull-left"><i class="fa fa-play"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_video.html">Vimeo Player Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
						</div>
					</div>
				</div>

				<div class="row beta-blog-content">
					<div class="col-sm-6">
						<div class="video-elastic">
							<iframe src="http://player.vimeo.com/video/41499247?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
						</div>
					</div>
					<div class="col-sm-6">
						<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

						<p>Sed ut voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
						<a href="single_type_video.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div> <!-- .beta-blog item -->

			<div class="beta-blog beta-blog-a">
				<div class="beta-blog-header">
					<div class="media">
						<div class="pull-left">
							<span class="beta-blog-type pull-left"><i class="fa fa-align-left"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="text_page.html">Standard Text Post Title here</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Sed ut voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
					<a href="text_page.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->

			<div class="beta-blog beta-blog-a">
				<div class="beta-blog-header">
					<div class="media">
						<div class="pull-left">
							<span class="beta-blog-type pull-left"><i class="fa fa-music"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_audio.html">Audio Blog Post</a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-audio">
				<audio controls="controls">
				 <source src="assets/dest/audio/jaspertine_-_Guitar_Drone_in_Amaj.mp3" type="audio/mp3">
				
				</audio>
					</div>
					<a href="single_type_audio.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->

			<div class="beta-blog beta-blog-a">
				<div class="beta-blog-header">
					<div class="media">
						<div class="pull-left">
							<span class="beta-blog-type pull-left"><i class="fa fa-quote-left"></i></span>
							<span class="beta-blog-date pull-left">
								<span class="beta-blog-month">June</span>
								<span class="beta-blog-day">25</span>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="media-body">
							<h5 class="beta-blog-title"><a href="single_type_quote.html">Blockquotes Post </a></h5>
							<p>By: <a href="#">Collis Ta'eed</a> | <a href="#">12 Comments</a> | In <a href="blog_fullwidth_2col.html">Business</a>, <a href="blog_fullwidth_2col.html">Education</a>, <a href="blog_fullwidth_2col.html">Health</a></p>
						</div>
					</div>
				</div>

				<div class="beta-blog-content">
					<div class="beta-blockquote bg-gray">
						<h5>“Ut enim ad mveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit...”</h5>
						<small>Tom Ford</small>
					</div>
					<a href="single_type_quote.html" class="beta-btn primary">Read More <i class="fa fa-chevron-right"></i></a>
				</div>
			</div> <!-- .beta-blog item -->

			<div class="beta-pagination text-center">
				<a href="#"><i class="fa fa-chevron-left"></i></a>
				<a href="#" class="is-active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">...</a>
				<a href="#"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
</div> <!-- #content -->
</div> <!-- .container -->
