<div class="container">
	<div id="content">
		<div class="row">
		{% for post in posts if post.status == constant('SpBar\\Bundle\\BlogBundle\\Model\\PostManager::POST_STATUS_PUBLISH') %}
			<div class="col-sm-4">
				<div class="beta-blog beta-blog-a beta-blog-3cols">
					{% include 'SpBarBlogBundle:Templates/index:content.html.twig' with {'post': post, 'length': '200', 'col': '3'} %}
				</div> <!-- .beta-blog item -->
			</div>
			{% if loop.index is divisible by(3) or loop.index == posts|length %} </div> <hr class="mb50"> 
				{% if loop.index != posts|length %}
					<div class="row">
				{% endif %}
			{% endif %}
		{% endfor %}
		{{ knp_pagination_render(posts, 'beta_pagination.html.twig') }}
	</div> <!-- #content -->
</div> <!-- .container -->
