<div class="container">
	<div id="content">
		<div class="row">
			<div class="col-sm-3 aside-main pull-right">
				{% include 'SpBarBlogBundle::Templates/parts/sidebar_widget.html.twig' %}
			</div>
			<div class="col-sm-9">
				{% for post in posts if post.status == constant('SpBar\\Bundle\\BlogBundle\\Model\\PostManager::POST_STATUS_PUBLISH') %}
					<div class="beta-blog beta-blog-a">
						{% include 'SpBarBlogBundle:Templates/index:content.html.twig' with {'post': post, 'length': '500', 'col': '1'} %}
					</div> <!-- .beta-blog item -->
				{% endfor %}
				{{ knp_pagination_render(posts, 'beta_pagination.html.twig') }}
			</div>
		</div>
	</div> <!-- #content -->
</div> <!-- .container -->
