/web/bundles/
/web/css/

/app/bootstrap.php.cache
/app/SymfonyRequirements.php
/app/check.php

/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

/app/phpunit.xml

/build/

/vendor/

/bin/

/composer.lock

/web/uploads/
/web/assets/
