{% extends "BlogUserBundle::user_base.html.twig" %}

{% block body %}
	<div class="page-header">
  		<h2>Profile</h2>
	</div>
	{% include "BlogUserBundle:Profile:show_content.html.twig" %}
{% endblock body %}
