{% extends('SpBarBlogBundle::Backend/back_base.html.twig') %}

{% block body_container %}
    <!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">
							<strong>Monitor comments on your post</strong>
						</h3>
					</div><!-- /.box-header -->

					{% include "SpBarBlogBundle:Backend/Post:moderate_content.html.twig" %}
					
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section><!-- /.content -->
{% endblock body_container %}
	