<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <strong>Frontend Menu </strong>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form action="{{ path('sp_api_menu_saveOrder') }}" id="form-spbar-menu" method="post" name="form-spbar-menu">
            <ul id="easymm" class="ui-sortable">
            {% for menu in menus if menu.parent == null %}
                {% include 'SpBarMenuBundle:Menu:menu_content_loop.html.twig' with {'menu' : menu} %}
                {% if menu.child|length  %}
                <ul>
                    {% for cchild in menu.child %}
                        {% include 'SpBarMenuBundle:Menu:menu_content_loop.html.twig' with {'menu' : cchild} %}
                        {% if cchild.child|length %}
                        <ul>
                            {% for ccchild in cchild.child %}
                                {% include 'SpBarMenuBundle:Menu:menu_content_loop.html.twig' with {'menu' : ccchild} %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %} 
                </ul>
                {% endif %}

            {% endfor %}
            </ul>

            <div id="ns-footer">
                <button class="btn btn-info" id="btn-save-menu" type="submit">Save Menu Order</button>
            </div>
        </form>
        <div id="loading">
            <i class="fa fa-spinner fa-spin"></i>
            Processing...
        </div>
    </div>              
</div><!-- /.box -->