<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <strong>Frontend Menu </strong>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form action=
        "http://demo.gawibowo.com/easymenu/emm/index.php?act=menu.save_position" id="form-menu" method="post" name="form-menu">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <ul id="easymm">
                    <li class="sortable" id="menu-0">
                        <div class="panel panel-default">
                            <div class="panel-heading ns-title" role="tab" id="home-heading">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="panel-title" id="home-title">
                                            <span>Home</span>
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="pull-right">
                                            (Custom Link) &emsp;
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#home-list-group" aria-expanded="false" aria-controls="home-list-group">
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </span>                                    
                                    </div>
                                </div>
                            </div>
                            <div id="home-list-group" class="panel-collapse collapse" role="tabpanel" aria-labelledby="home-heading" aria-expanded="false">
                                Home
                            </div>
                        </div>
                    </li>
                    <li class="sortable" id="menu-1">
                        <div class="panel panel-default">
                            <div class="panel-heading ns-title" role="tab" id="contact-heading">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="panel-title" id="contact-title">
                                            <span>Contact</span>
                                        </h4>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="pull-right">
                                            (Custom Link) &emsp;
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#contact-list-group" aria-expanded="false" aria-controls="contact-list-group">
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </span>                                    
                                    </div>
                                </div>
                            </div>
                            <div id="contact-list-group" class="panel-collapse collapse" role="tabpanel" aria-labelledby="contact-heading" aria-expanded="false">
                                Contact
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="ns-footer">
                <button class="button green small" id="btn-save-menu"
                type="submit">Save Menu</button>
            </div>
        </form>
    </div>              
</div><!-- /.box -->