<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <strong>Frontend Menu </strong>
        </h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form action="#" id="form-menu" method="post" name="form-menu">
            <ul id="easymm">
            {% for menu in menus if menu.parent == null %}
                {% include 'SpBarMenuBundle:Menu:menu_content_loop.html.twig' with {'menu' : menu} %}
                {% if menu.child %}
                    <ul>
                        {% for child in menu.child %}
                            {% include 'SpBarMenuBundle:Menu:menu_content_loop.html.twig' with {'menu' : child} %}
                            {% if child.child %}
                                <ul>
                                    {% for cchild in child.child %}
                                        {% include 'SpBarMenuBundle:Menu:menu_content_loop.html.twig' with {'menu' : cchild} %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}               
                    </ul>   
                {% endif %}
            {% endfor %}
            </ul>

            <div id="ns-footer">
                <button class="button green small" id="btn-save-menu"
                type="submit">Save Menu</button>
            </div>
        </form>
        <div id="loading">
            <img alt="Loading" src="templates/images/ajax-loader.gif">
            Processing...
        </div>
    </div>              
</div><!-- /.box -->