{% extends "BlogUserBundle::user_base.html.twig" %}

{% block body %}
	<div class="page-header">
  		<h2>Register <small>(Add new users)</small></h2>
	</div>

	{% include "BlogUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}
