<div class="widget-main">
	<div class="widget-main-body">
		<form role="search" method="get" id="searchform" action="http://webredox.com/">
	        <input type="text" value="" name="s" id="s" placeholder="Search entire store here..." />
	        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
		</form>
	</div>
</div>

<div class="widget-main">
	<h5 class="widget-main-title">Categories</h5>
	<div class="widget-main-body">
		<ul>
			<li><a href="blog_fullwidth_1col.html">Web Design</a></li>
			<li><a href="blog_fullwidth_1col.html">Web development</a></li>
			<li><a href="blog_fullwidth_1col.html">Marketing</a></li>
			<li><a href="blog_fullwidth_1col.html">Tips</a></li>
			<li><a href="blog_fullwidth_1col.html">Resources</a></li>
			<li><a href="blog_fullwidth_1col.html">Illustrations</a></li>
		</ul>
	</div>
</div>

<div class="widget-main">
	<h5 class="widget-main-title">Tags</h5>
	<div class="widget-main-body">
		<div class="beta-tags">
			<a href="blog_fullwidth_1col.html">Amazing</a>
			<a href="blog_fullwidth_1col.html">Design</a>
			<a href="blog_fullwidth_1col.html">Themes</a>
			<a href="blog_fullwidth_1col.html">Clean</a>
			<a href="blog_fullwidth_1col.html">Responsiveness</a>
			<a href="blog_fullwidth_1col.html">Creative</a>
			<a href="blog_fullwidth_1col.html">Brands</a>
			<a href="blog_fullwidth_1col.html">Seo</a>
			<a href="blog_fullwidth_1col.html">Life</a>
			<a href="blog_fullwidth_1col.html">Minimal</a>
		</div>
	</div>
</div>

<div class="widget-main">
	<h5 class="widget-main-title">Archives</h5>
	<div class="widget-main-body">
		<ul>
			<li><a href="blog_fullwidth_1col.html">May</a></li>
			<li><a href="blog_fullwidth_1col.html">February</a></li>
			<li><a href="blog_fullwidth_1col.html">January</a></li>
			<li><a href="blog_fullwidth_1col.html">December</a></li>
			<li><a href="blog_fullwidth_1col.html">October</a></li>
		</ul>
	</div>
</div>

<div class="widget-main">
	<h5 class="widget-main-title">Recent Posts</h5>
	<div class="widget-main-body">
		<div class="media recent-post">
			<div class="pull-left"><a href="single_type_image.html"><img src="assets/dest/images/blog/recent_aside_1.jpg" alt=""></a></div>
			<div class="media-body">
				<h5 class="recent-post-title"><a href="single_type_image.html">At vero eos</a></h5>
				<p><a href="blog_fullwidth_3col.html">Design</a>, <a href="blog_fullwidth_3col.html">Illustration</a></p>
				<a href="single_type_image.html" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
			</div>
		</div>
		<div class="media recent-post">
			<div class="pull-left"><a href="single_type_image.html"><img src="assets/dest/images/blog/recent_aside_2.jpg" alt=""></a></div>
			<div class="media-body">
				<h5 class="recent-post-title"><a href="single_type_image.html">Itaque earum</a></h5>
				<p><a href="blog_fullwidth_3col.html">Design</a>, <a href="blog_fullwidth_3col.html">Illustration</a></p>
				<a href="single_type_image.html" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
			</div>
		</div>
		<div class="media recent-post">
			<div class="pull-left"><a href="single_type_image.html"><img src="assets/dest/images/blog/recent_aside_3.jpg" alt=""></a></div>
			<div class="media-body">
				<h5 class="recent-post-title"><a href="single_type_image.html">Ut enim ad</a></h5>
				<p><a href="blog_fullwidth_3col.html">Design</a>, <a href="blog_fullwidth_3col.html">Illustration</a></p>
				<a href="single_type_image.html" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
			</div>
		</div>
	</div>
</div>

<div class="widget-main">
	<h5 class="widget-main-title">Twitter Feed</h5>
	<div class="widget-main-body">
		<div class="twitter-feed beta-lists">
			<div class="tweet">
				<i class="fa fa-twitter"></i>
				<div class="tweet-body">
					<h5 class="tweet-title">Excepteur sint occaecat cupidatat non proident sunt</h5>
					<small class="tweet-time">25 Minutes ago</small>
				</div>
			</div>
			<div class="tweet">
				<i class="fa fa-twitter"></i>
				<div class="tweet-body">
					<h5 class="tweet-title">Excepteur sint occaecat cupidatat non proident sunt</h5>
					<small class="tweet-time">25 Minutes ago</small>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="widget-main">
	<h5 class="widget-main-title">Calendar</h5>
	<div class="widget-main-body">
		<div class="beta-calendar"></div>
	</div>
</div>