{% extends('SpBarBlogBundle::Backend/back_base.html.twig') %}

{% block body_container %}
    <!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">
							<strong>Default Configurations</strong>
						</h3>
					</div><!-- /.box-header -->
					{% include "SpBarBlogBundle:Backend/Config:default_content.html.twig" %}					
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section><!-- /.content -->

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">
							<strong>List of Configs</strong>
						</h3>
					</div><!-- /.box-header -->
					{% include "SpBarBlogBundle:Backend/Config:list_content.html.twig" %}					
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section><!-- /.content -->

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">
							<strong>Add new config</strong>
						</h3>
					</div><!-- /.box-header -->
					{% include "SpBarBlogBundle:Backend/Config:new_content.html.twig" %}					
				</div><!-- /.box -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</section><!-- /.content -->
{% endblock body_container %}
	