/*------------------------------Post Area-------------------------------*/
.post-area{
	border: 2px solid;
	border-radius: 5px;		
	border-color: #ccc;
	padding: 10px;
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.post-area .post-title h4,
.post-area .post-title h3{
	padding-top: 10px;
	color: #277CA5;
	text-align: center;
}

.post-area .post-title h4 a,
.post-area .post-title h3 a{
	text-decoration: none;
	color: inherit;
}

.post-area .post-content{
	margin: 20px;

}

.post-area .post-metaarea{
	font-weight: bold;
	color: #741414;
	border: 1px solid;
	border-radius: 5px;
	border-color: #A89797;
	padding: 5px;
	background-color: #E0E0E0;
}

.post-area .post-metaarea ul
{
	list-style: none;
}

.post-area .post-metaarea ul li{
	display: inline-block;
	padding-right: 20px;
}

.post-area .post-metaarea ul li a{
	color: #741414;
	text-decoration: none;
}

.post-area .post-metaarea ul li a:hover {
	text-decoration: none;
}


/*---------------------------------Comments Area ------------------------*/
.well 
{
	min-height: 20px;
	margin-top: 5px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.form-error{
	list-style: none;
	text-align: center;
	font-weight: bold;
}