{% extends ('BlogReportBundle::report_base.html.twig') %}

{% block body %}

	{% for key,report in reports %}
		<a href="{{ url('showReportPage', {'reportId':key}) }}">{{ report.name }}</a>
	{% endfor %}

{% endblock body %}