{% extends 'BlogPostBundle::post_base.html.twig' %}


{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container">
		

		<h3 class="page-title"> {{ title }}</h3>
		<a href="{{ path('postPage') }}" class="btn btn-info">Back to Posts!</a>

		<br><br>
		{% if errors %}
			<ul class="alert alert-error form-error">
				{% for error in errors %}
	    			<li><span> - {{ error.message }}</span></li>
				{% endfor %}
			</ul>
    	{% endif %}

		<form class="form-horizontal" method="POST" action="">
			<div class="control-group">
				<label class="control-label" for="inputTitle">Title:</label>
				<div class="controls">
					<input type="text" name="title" id="inputTitle" placeholder="Title for the post" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputContent">Content:</label>
				<div class="controls">
					<textarea rows="5" cols="10" name="content" id="inputContent"></textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="inputStatus">Active:</label>
				<div class="controls">
					<select class="form-control" id="inputStatus" name="active" required>
						<option value="1" selected>Yes</option>
						<option value="0">No</option>
					</select>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<button type="submit" name="createPost" class="btn">Create</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}