<div class="copyright">
	<div class="container">
		<p class="pull-left">All rights reserved. (&copy;) 2015</p>
		<p class="pull-right pay-options">
		</p>
	<div class="clearfix"></div>
	</div> <!-- .container -->
</div> <!-- .copyright -->