{% extends "BlogUserBundle::user_base.html.twig" %}

{% block body %}
	<div class="page-header">
  		<h2>Change Password <small>(Change password regularly)</small></h2>
	</div>
	{% include "BlogUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock body %}
