{% extends('SpBarBlogBundle::Frontend/front_base.html.twig') %}

{% set postType = post.postType.template %}
{% set loadPostTheme = 'SpBarBlogBundle::Layout/single/'~ postType %}
{% set authorInfoSection = 'SpBarBlogBundle::Frontend/Includes/author_bio.html.twig' %}

{% block body_content %}
<div class="container">
	<div id="content">
		<div class="row">
			{% block body_content_container %}
				<div class="col-sm-9">
	    			{% include loadPostTheme %}

	    			<hr class="mb40">
	    			<!-- author bio block -->
	    			{% block body_content_authorBio %}
	    			   	{% include authorInfoSection with {'author': post.author}  %}
	    			{% endblock body_content_authorBio %}

	    			<hr class="mt40">
					<div class="space20">&nbsp;</div>
					
					<!-- post comments block -->
					{% block body_content_comment %}
						<h2>There Are 4 Comments</h2>
						<div class="space10">&nbsp;</div>
						<div class="comment depth-1 media">
							<img src="assets/dest/images/comments/1.jpg" alt="" class="avatar pull-left">
							<div class="media-body">
								<p class="font-large">Posted by <a href="#">Andy</a> on September 23, 2013, 11:59 am   | <a href="#">Reply</a></p>
								<p class="font-large">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
							</div>
						</div>

						<div class="comment depth-2 media">
							<img src="assets/dest/images/comments/2.jpg" alt="" class="avatar pull-left">
							<div class="media-body">
								<p class="font-large">Posted by <a href="#">Monica</a> on September 23, 2013, 11:59 am   | <a href="#">Reply</a></p>
								<p class="font-large">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
							</div>
						</div>

						<div class="comment depth-3 media">
							<img src="assets/dest/images/comments/1.jpg" alt="" class="avatar pull-left">
							<div class="media-body">
								<p class="font-large">Posted by <a href="#">Andy</a> on September 23, 2013, 11:59 am   | <a href="#">Reply</a></p>
								<p class="font-large">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
							</div>
						</div>

						<div class="comment depth-4 media">
							<img src="assets/dest/images/comments/2.jpg" alt="" class="avatar pull-left">
							<div class="media-body">
								<p class="font-large">Posted by <a href="#">Monica</a> on September 23, 2013, 11:59 am   | <a href="#">Reply</a></p>
								<p class="font-large">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut </p>
							</div>
						</div>
						
						<div class="space20">&nbsp;</div>
						<hr class="mb40">

						<h2>Leave a Reply</h2>
						<div class="space20">&nbsp;</div>
						<form action="#" method="post" class="contact-form">	
							<div class="form-block">
								<input name="your-name" type="text" placeholder="Name*:">
							</div>
							<div class="form-block">
								<input name="your-email" type="email" placeholder="Email (will not be published)*:">
							</div>
							<div class="form-block">
								<input name="your-subject" type="url" placeholder="Website:">
							</div>
							<div class="form-block">
								<textarea name="your-message" placeholder="Comment"></textarea>
							</div>
							<div class="form-block">
								<button type="submit" class="beta-btn primary">Submit Comment <i class="fa fa-chevron-right"></i></button>
							</div>
						</form>
					{% endblock body_content_comment %}
				</div>
			{% endblock body_content_container %}

			{% block body_content_sidebar %}
				<div class="col-sm-3 aside-main">
					<div class="widget-main">
						<div class="widget-main-body">
							<form role="search" method="get" id="searchform" action="http://webredox.com/">
						        <input type="text" value="" name="s" id="s" placeholder="Search entire store here..." />
						        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
							</form>
						</div>
					</div>

					<div class="widget-main">
						<h5 class="widget-main-title">Categories</h5>
						<div class="widget-main-body">
							<ul>
								<li><a href="blog_fullwidth_2col.html">Web Design</a></li>
								<li><a href="blog_fullwidth_2col.html">Web development</a></li>
								<li><a href="blog_fullwidth_2col.html">Marketing</a></li>
								<li><a href="blog_fullwidth_2col.html">Tips</a></li>
								<li><a href="blog_fullwidth_2col.html">Resources</a></li>
								<li><a href="blog_fullwidth_2col.html">Illustrations</a></li>
							</ul>
						</div>
					</div>

					<div class="widget-main">
						<h5 class="widget-main-title">Tags</h5>
						<div class="widget-main-body">
							<div class="beta-tags">
								<a href="blog_fullwidth_3col.html">Amazing</a>
								<a href="blog_fullwidth_3col.html">Design</a>
								<a href="blog_fullwidth_3col.html">Themes</a>
								<a href="blog_fullwidth_3col.html">Clean</a>
								<a href="blog_fullwidth_3col.html">Responsiveness</a>
								<a href="blog_fullwidth_3col.html">Creative</a>
								<a href="blog_fullwidth_3col.html">Brands</a>
								<a href="blog_fullwidth_3col.html">Seo</a>
								<a href="blog_fullwidth_3col.html">Life</a>
								<a href="blog_fullwidth_3col.html">Minimal</a>
							</div>
						</div>
					</div>

					<div class="widget-main">
						<h5 class="widget-main-title">Archives</h5>
						<div class="widget-main-body">
							<ul>
								<li><a href="blog_fullwidth_4col.html">May</a></li>
								<li><a href="blog_fullwidth_4col.html">February</a></li>
								<li><a href="blog_fullwidth_4col.html">January</a></li>
								<li><a href="blog_fullwidth_4col.html">December</a></li>
								<li><a href="blog_fullwidth_4col.html">October</a></li>
							</ul>
						</div>
					</div>

					<div class="widget-main">
						<h5 class="widget-main-title">Recent Posts</h5>
						<div class="widget-main-body">
							<div class="media recent-post">
								<div class="pull-left"><a href="#"><img src="assets/dest/images/blog/recent_aside_1.jpg" alt=""></a></div>
								<div class="media-body">
									<h5 class="recent-post-title"><a href="#">At vero eos</a></h5>
									<p><a href="blog_fullwidth_3col.html">Design</a>, <a href="blog_fullwidth_3col.html">Illustration</a></p>
									<a href="#" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
								</div>
							</div>
							<div class="media recent-post">
								<div class="pull-left"><a href="#"><img src="assets/dest/images/blog/recent_aside_2.jpg" alt=""></a></div>
								<div class="media-body">
									<h5 class="recent-post-title"><a href="#">Itaque earum</a></h5>
									<p><a href="blog_fullwidth_3col.html">Design</a>, <a href="blog_fullwidth_3col.html">Illustration</a></p>
									<a href="#" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
								</div>
							</div>
							<div class="media recent-post">
								<div class="pull-left"><a href="#"><img src="assets/dest/images/blog/recent_aside_3.jpg" alt=""></a></div>
								<div class="media-body">
									<h5 class="recent-post-title"><a href="#">Ut enim ad</a></h5>
									<p><a href="blog_fullwidth_3col.html">Design</a>, <a href="blog_fullwidth_3col.html">Illustration</a></p>
									<a href="#" class="recent-post-comments"><i class="fa fa-comments"></i> 5</a>
								</div>
							</div>
						</div>
					</div>

					<div class="widget-main">
						<h5 class="widget-main-title">Calendar</h5>
						<div class="widget-main-body">
							<div class="beta-calendar"></div>
						</div>
					</div>
				</div>  
			{% endblock body_content_sidebar %}
		</div>
	</div> <!-- #content -->
</div> <!-- .container -->
	
{% endblock body_content %}