<div id="header">
	<div class="header-top">
		<div class="container">
			<div class="pull-left auto-width-left">
				<ul class="top-menu menu-beta l-inline">
					<li><a href="{{ path('sp_blog_public') }}"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="#"><i class="fa fa-sitemap"></i> Sitemap</a></li>
				</ul>
			</div>
			<div class="pull-right auto-width-right">
				<ul class="top-details menu-beta l-inline">
					<li><a href="#"><i class="fa fa-user"></i> Your Account</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div> <!-- .container -->
	</div> <!-- .header-top -->

	<div class="header-body">
		<div class="container beta-relative">
			<div class="pull-left">
				<a href="{{ path('sp_blog_public') }}" id="logo"><b>Sp</b>Bar</a>
				<span class="slogan">a simple Blog Bar</span>
			</div>
			<div class="pull-right beta-components space-left ov">
				<div class="space10">&nbsp;</div>
				<div class="beta-comp">
					<form role="search" method="get" id="searchform" action="#">
				        <input type="text" value="" name="s" id="s" placeholder="Search entire blog here..." />
				        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div> <!-- .container -->
	</div> <!-- .header-body -->

	<div class="header-bottom">
		<div class="container">
			<a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
			<div class="visible-xs clearfix"></div>
			<nav class="main-menu">
				<ul class="l-inline ov">
					<li><a href="#">Home</a></li>
					<li><a href="{{ path('sp_blog_public') }}">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="clearfix"></div>
			</nav>
		</div> <!-- .container -->
	</div> <!-- .header-bottom -->
</div> <!-- #header -->

<div class="inner-header">
	<div class="container">
		<div class="pull-left">
			<h6 class="inner-title">Blog</h6>
		</div>
		<div class="pull-right">
			<div class="beta-breadcrumb font-large">
				<a href="#">Home</a> / <span>Blog</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>