<div class="container">
	<div id="content">
		<div class="beta-blog beta-blog-a">
		<h2>{{ page.title }}</h2>
		<p>{{ page.content }}</p>
		</div> <!-- .beta-blog item -->
	</div> <!-- #content -->
</div> <!-- .container -->
