<div class="container">
	<div id="content">
		<div class="row">
			<div class="col-sm-9">
				{# <h2>{{ page.title }}</h2>  #}
				<p>{{ page.content|raw }}</p>
			</div>
			<div class="col-sm-3 aside-main">
				{% include 'SpBarBlogBundle::Templates/parts/sidebar_widget.html.twig' %}
			</div>
		</div> <!-- .beta-blog item -->
	</div> <!-- #content -->
</div> <!-- .container -->
